
.topbar{
    width: 100%;
    height: 32px;
    background-color: #f6f6f6;
    border-bottom: 1px solid #c7c7c7;
}


/*顶部通栏 topbar*/
.topbar .info-left {
    width: 30%;
    height: 32px;
    line-height: 16px;
    float: left;
    margin-left: 100px;
    overflow: hidden;
}
.topbar .info-left ul{
    width: 100%;
    height: 100%;
}
.topbar .info-left ul li{
    height: 16px;
    float: left;
    margin: 8px 0 8px 0;

}
.topbar .info-left ul a{
    color: #998987;
}
.topbar .info-left ul .first{
    padding-right: 10px;
}
.topbar .info-left ul .first span{
    color: #998987;
}
.topbar .info-left ul .last{
    padding-left: 10px;
    border-left: solid #c7c7c7 1px;
}
/*topbar 右半部份*/
.topbar .info-right{
    height: 32px;
    position: absolute;
   left: 500px;
    float: left;
  overflow: hidden;
}
.topbar .info-right ul{
    width: 100%;
    height: 100%;
}
.topbar .info-right ul li{
    float: left;
    border-right: solid 1px #c7c7c7;
    margin: 10px;
    margin-bottom: 4px;
    padding: 0 5px 0 4px;
    color: #998987;
}

.topbar .info-right ul a{
    color: #998987;
}
/*---------------------------------container//版心！------------------------------------------------*/
/*container*/
.container{
    width: 1200px;
    margin: 0 50px 0 50px;
}




/*topbaner*/
.topbanner{
    width: 1200px;
    height: 80px;
}
.topbanner .column-left{
    width: 235px;
    height: 80px;
    float: left;
    background: url("../images/t01c.png") no-repeat center center;
}
.topbanner .column-right{
    float: left;
    padding-left: 300px;
    height: 80px;

}
.topbanner .column-right ul{
    width: 100%;
    height: 100%;
}
.topbanner .column-right ul a{
    display: inline-block;
    width: 100%;
    height: 40px;
   margin-top: 20px;
}
.topbanner .column-right ul li{
    float: left;
    text-align: center;
    line-height: 40px;
    padding: 0 18px 0 18px;
    font-size: 16px;
    color: #666;
    margin-top: 0;
}
/*------------------------------list-----------------------------------*/
.list{
    width: 100%;
    height: 507px;
}

.list .nav{
    float: left;
    position: absolute;
    /*display: none;*/
    z-index: 100;
}


.list .nav>ul{
    width: 235px;
    height: 340px;
    background: rgba(0,0,0,0.7);
}
.list .nav>ul a{
    color: white;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url("../images/jlt.png") no-repeat;
    padding-left: 105px;
}
.list .nav>ul li{
    width: 235px;
    height: 85px;
    font-size: 16px;
    line-height: 85px;
    border-bottom: solid 1px white;
    position: relative;

}
.list .nav>ul .xsj{
    background-position: 0 -9px;
}
.list .nav>ul .xdn{
    background-position: 0 -104px;
}
.list .nav>ul .msj{
    background-position: 0 -207px
}
.list .nav>ul .mrsj{
    background-position: 0 -308px
}
/*----------------------list-nav-none--------------------------------*/
.list .nav .list-nav{
    background-color: #666666;
}
.list .nav .list-nav-none1{
    width: 700px;
    /*background-color: #666666;*/
    position: absolute;
    left: 233px;
    top: 0;
    display: none;
}
.list .nav .list-nav-none1 .list-nav-none-items1 {
    width: 700px;
    height: 400px;
    border-left: none;
    padding: 0 30px 0 40px;
}
.list .nav .list-nav-none1 .list-nav-none-items1 .row{
    height: 43px;
    border-bottom: solid 2px #e0e0e0;

}
.list .nav .list-nav-none1 .list-nav-none-items1 .row1>{

}
.list .nav .list-nav-none1 .list-nav-none-items1 .row1 a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.list .nav .list-nav-none1 .list-nav-none-items1 .row1 li{
    margin: 10px 10px;
    padding: 0 20px 0 0;
    padding-left: 10px;
    float: left;
    border-right: solid 2px #e0e0e0;

}


.list .nav .list-nav-none2{
    width: 700px;
    /*background-color: #666666;*/
    position: absolute;
    left: 233px;
    top: 0;
    display: none;
}
.list .nav .list-nav-none2 .list-nav-none-items1 {
    width: 700px;
    height: 400px;
    border-left: none;
    padding: 0 30px 0 40px;
}
.list .nav .list-nav-none2 .list-nav-none-items1 .row{
    height: 43px;
    border-bottom: solid 2px #e0e0e0;

}
.list .nav .list-nav-none2 .list-nav-none-items1 .row1>{

}
.list .nav .list-nav-none2 .list-nav-none-items1 .row1 a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.list .nav .list-nav-none2 .list-nav-none-items1 .row1 li{
    margin: 10px 10px;
    padding: 0 20px 0 0;
    padding-left: 10px;
    float: left;
    border-right: solid 2px #e0e0e0;

}



.list .nav .list-nav-none3{
    width: 700px;
    /*background-color: #666666;*/
    position: absolute;
    left: 233px;
    top: 0;
    display: none;
}
.list .nav .list-nav-none3 .list-nav-none-items1 {
    width: 700px;
    height: 400px;
    border-left: none;
    padding: 0 30px 0 40px;
}
.list .nav .list-nav-none3 .list-nav-none-items1 .row{
    height: 43px;
    border-bottom: solid 2px #e0e0e0;

}
.list .nav .list-nav-none3 .list-nav-none-items1 .row1>{

}
.list .nav .list-nav-none3 .list-nav-none-items1 .row1 a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.list .nav .list-nav-none3 .list-nav-none-items1 .row1 li{
    margin: 10px 10px;
    padding: 0 20px 0 0;
    padding-left: 10px;
    float: left;
    border-right: solid 2px #e0e0e0;

}


.list .nav .list-nav-none4{
    width: 700px;
    /*background-color: #666666;*/
    position: absolute;
    left: 233px;
    top: 0;
    display: none;
}
.list .nav .list-nav-none4 .list-nav-none-items1 {
    width: 700px;
    height: 400px;
    border-left: none;
    padding: 0 30px 0 40px;
}
.list .nav .list-nav-none4 .list-nav-none-items1 .row{
    height: 43px;
    border-bottom: solid 2px #e0e0e0;

}
.list .nav .list-nav-none4 .list-nav-none-items1 .row1>{

}
.list .nav .list-nav-none4 .list-nav-none-items1 .row1 a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.list .nav .list-nav-none4 .list-nav-none-items1 .row1 li{
    margin: 10px 10px;
    padding: 0 20px 0 0;
    padding-left: 10px;
    float: left;
    border-right: solid 2px #e0e0e0;

}

/*    -----------------------animate-------------------------------------*/


.container .animate{
    width: 100%;
    height: 340px;
    background-color: red;
    overflow: hidden;
    position: relative;
    /*display: none;*/
}
.container .animate #lbt{
    width: 500%;
    height: 100%;
    transition: margin-left 2s;
}
.container .animate #lbt li{
    float: left;
    width: 20%;
    height: 100%;

}

.container .animate .animate-last{
    width: 300px;
    height: 30px;
    position: absolute;
    bottom: 5px;
    right: -100px;
}
.container .animate .animate-last li{
    float: left;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    background-color:#e0e0e0;
    margin: 0 8px;
}
.container .animate .animate-last .active{
    background-color: green;
}
/*------------------------------product--------------------------------------------------*/
.container .product {

}
.container .product>ul{

}
.container .product>ul li{
    float: left;
}
.container .product>ul li a{

}
.container .product>ul li a img{

}
/*------------------------------------recycle//热门-回收-----------------------------------------*/
.container .recycle{
    width: 100%;
    height: 50px;
    position: relative;
}
.container .recycle h2{
    float: left;
    padding: 0 20px 0 0;
    line-height: 50px;
    color: #cccc00;
}

.container .recycle>a{
    float: right;
     padding: 0 50px 0 0;
    line-height: 50px;
    color: #998987;
}
.container .recycle>a span{
    width: 16px;
    height: 16px;
    display: inline-block;
    background-color: #666666;
    border-radius: 8px;
    text-align: center;
    line-height: 16px;
    color: white;
}
/*--------------------------------------recycle-children// 回收的儿子 ------------------------------------*/
.container .recycle-children{
    width: 100%;
    height: 300px;
    background: url("../images/mfgzhs.png") no-repeat center left white;

}
.container .recycle-children .p{
    float: left;
    margin-left: 1px;
}
.container .recycle-children > a{
    float: left;
    width: 200px;
    height: 246px;
    padding:54px 0 0 0;
}
.container .recycle-children > a .p-img{
    margin-left: 89px;
}

.container .recycle-children > a .p-img img{
    height: 160px;
    text-align: center;
}
.container .recycle-children > a .p-name{
    font-size: 16px;

    text-align: center;
    margin-left: 67px;
    margin-top: 20px;
}
.container .recycle-children > a .p-price{

}

/*----------------------------------------.items-last//拉拉阿拉蕾拉阿拉啦啦啦------------------------------------------------*/
.container .items-last{
    background-color: white;

}
/*------------------------------------左边的----------------------------------*/
.container .items-last .items-last-left{
    margin-right: 268px;

}
.container .items-last .items-last-top {
    height: 80px;
    /*background-color: red;*/
    position: relative;
}
.container .items-last .items-last-top .left{
    width: 300px;
    height: 41px;
    float: left;
    margin-left: -100px;
    margin-top: 20px;
}
.container .items-last .items-last-top .left>div{
    width: 100%;
    height: 100%;
    line-height: 41px;
    text-align: start;
    position: relative;
}
.container .items-last .items-last-top .left>div a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.container .items-last .items-last-top .left>div .span1{
    width: 46%;
    height: 100%;
    position: absolute;
    left: 0;
    border: 1px solid green;
    padding-left: 10px;
    margin-left: -10px;
}
.container .items-last .items-last-top .left>div .span1 span{
    display: inline-block;
    transform: rotate(180deg);
    position: absolute;
    left: 65px;
    color: green;
}
.container .items-last .items-last-top .left>div .span2{
    position: absolute;
    right: 0;
    width: 45%;
    height: 100%;
    border: 1px solid green;
    padding-left: 10px;
    margin-left: -10px;
}
.container .items-last .items-last-top .left>div .span2 span{
    display: inline-block;
    transform: rotate(180deg);
    position: absolute;
    left: 93px;
    color: green;
}
.container .items-last .items-last-top .right{
    width: 590px;
    height: 41px;
    float: right;
    margin-top: 20px;
}
.container .items-last .items-last-top .right .button{
    background: #185;
    border: 0;
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 18px;
    height: 45px;
    line-height: 40px;
    text-align: center;
    text-indent: 0;
    width: 120px;
    position: absolute;
    right: 0;
}
.container .items-last .items-last-top .right input{
    width: 80%;
    height: 40px;
}
/*--------------------------左边的-content  内容部分------------------------------------*/
.container .items-last .items-last-content{
    /*background-color: pink;*/
}
.container .items-last .top{
    height: 52px;
    background-color: red;
    border: solid 1px #118855;
    position: relative;
}
.container .items-last .top >ul{
    width: 100%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    background-color: #e0e0e0;

}
.container .items-last .top >ul li{
    width: 100px;
    float: left;

}
.container .items-last .top >ul .active{
    background-color: #E0E102;
    border-right: 1px solid #118855;
}
.container .items-last .top >.dums{
    background: #fff url(https://p.ssl.qhmsg.com/t01c9ef4268ff127a67.png) no-repeat 10px 0;
    border: 1px solid #DBDBDB;
    display: inline-block;
    font-size: 16px;
    height: 28px;
    line-height: 28px;
    padding: 0 10px 0 35px;
    width: auto;
    position: absolute;
    top: 11px;
    right: 35px;
}
/*--------------------------店铺信息----------------------------------*/
.container .items-last .list{

}
.container .items-last .list >.list-items{
    height: 133px;
    border-top: solid 1px #998987;
    padding-left: 140px;
    position: relative;
    color: #666666;
    font-weight: 600;
}
.container .items-last .list >.list-items img{
    width: 106px;
    height: 100px;
    margin-left: -129px;
    margin-top: 15px;
}
.container .items-last .list >.list-items>h3{
    margin-top: -86px;
    font-size: 14px;
    padding: 2px 2px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
}
.container .items-last .list >.list-items > .dj{
    position: relative;
    top: 28px;
    left: 252px;
}
.container .items-last .list >.list-items >.product{
    text-overflow: ellipsis;
    overflow: hidden;
    width: 300px;
    white-space: nowrap;
    margin: 10px 0;
}
.container .items-last .list >.list-items >.derc{
    width: 300px;
}
.container .items-last .list >.list-items > .wrap{
    position: absolute;
    right: 220px;
    top: 19px;
    color: #666666;
    font-weight: 600;
}
.container .items-last .list >.list-items > .wrap div{
    margin: 10px 10px;
    font-size: 16px;
}
.container .items-last .list >.list-items > .wrap .xxpf{
    text-align: center;
    background:url("../images/xxpf.png") no-repeat left center;
    padding-right: 15px;
}
.container .items-last .list >.list-items >.wrap .rz{
    text-align: center;
    background: url("../images/rz.png") no-repeat left center;
}
.container .items-last .list >.list-items > .jrdp{
    width: 150px;
    height: 50px;
    background-color: green;
    text-align: center;
    line-height: 50px;
    box-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    position: absolute;
    top: 38px;
    right: 38px;
}











.container .items-last .items-last-bottom{

}





/*------------------------------------右边的----------------------------------*/
.container .items-last .items-last-right{

}
